# Example

## Using Prepared JSON-id Files

In [1]:
%%capture
import os
import sys
import pandas as pd
from dhis2api.country import Country

from dotenv import load_dotenv
load_dotenv()

In [2]:
json_fp = sys.path[0] + "/../JsonSelection_All_DataElements.xlsx"
json_id_df = pd.read_excel(json_fp)
display(json_id_df.head(5))

,country,id,displayName,group,count or percentage,category,category_old,indicatortype,project,initiation,pdo,notes,Core,Annual report,Used Previously
0,afghanistan,A0D0ThB17vR,NMC-GEN- Functionality of electricity source a...,dataElements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,afghanistan,a0iYmnDD2RH,Cleft palate and cleft lip/ref,dataElements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,afghanistan,A0NYImqKtiU,GBV- Willingness to take legal action against ...,dataElements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,afghanistan,a0v6xlpNqwE,TBIS- Percentage of HIV positive new and relap...,indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,afghanistan,a0ZLbjWKGZq,HIS- Percentage of CHCs with ambulance transpo...,indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
SLAuth = (os.getenv("SLUsername"), os.getenv("SLPassword"))

country_obj = Country(country="sierraleone",
                      base_url= 'https://sl.dhis2.org/hmis/api/29/analytics.json?', 
                      dates=["202201"], level="LEVEL-5",
                      auth=SLAuth,
                      idfilepath=json_fp)
country_obj.request_and_save()

ownloading sierraleone: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████| 16/16 [01:32<00:00,  5.80s/it]

In [8]:
df = pd.read_csv("./sierraleone_08-08-2025.csv")
sum_df = df.groupby("dataid")["Total"].sum().reset_index()
display(sum_df)

         dataid     Total
0   F5DCeEkMZbP   23905.0
1   F63VoBCwxxX   25406.0
2   JTZbSlVJnmv  187181.0
3   Q1MX1awbz1h    5695.0
4   Ra0KDOCDTBb    7527.0
5   TVOY9C29ikm    3208.0
6   UNNPnnylzkn     935.0
7   W2eW51uqgPP   16844.0
8   XtpblNP6IIf      16.0
9   grudkdawI9h   19841.0
10  iRb8yr8WXX5   32959.0
11  n0lUlnuMZFi  585541.0
12  qHuKf5ALBDx   20647.0
13  roLRNJvsp6f   14788.0
14  yL2yw27eKfR   26674.0

## Direct Using pre-loaded JSON file

In [9]:
single_download = Country(country="sierraleone",
                          base_url= 'https://sl.dhis2.org/hmis/api/29/analytics.json?', 
                          dates=["202201"], level="LEVEL-5",
                          indicators = ["F5DCeEkMZbP"],
                          auth=SLAuth)
single_download.request_and_save()

ownloading sierraleone: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:05<00:00,  5.75s/it]

In [10]:
df = pd.read_csv("./sierraleone_08-08-2025.csv")
display(df.head(5))

,orgunitlevel1,orgunitlevel2,orgunitlevel3,orgunitlevel4,orgunitlevel5,organisationunitid,organisationunitname,organisationunitcode,organisationunitdescription,periodid,periodname,periodcode,perioddescription,dataid,dataname,datacode,datadescription,Total,date_downloaded
0,Sierra Leone,Western Area Urban District,Freetown City Council,West 3 Zone,Aberdeen Women Centre Hospital,dar4XkzRmN0,Aberdeen Women Centre Hospital,WAU-WE3-ABEH,NaN,202201,January 2022,202201,NaN,F5DCeEkMZbP,Pentavalent 3rd dose,PENTA_DOSE3,NaN,108.0,08-08-2025
1,Sierra Leone,Western Area Urban District,Freetown City Council,East 3 Zone,Ad-Bangs Quarry MCHP,Dq86w8tvw1h,Ad-Bangs Quarry MCHP,WAU-EA3-ADBM,NaN,202201,January 2022,202201,NaN,F5DCeEkMZbP,Pentavalent 3rd dose,PENTA_DOSE3,NaN,34.0,08-08-2025
2,Sierra Leone,Kono District,Koidu New Sembehun City Council,Koidu New Sembehun City,Adama Martha Memorial CHC,waE3sdkY7ha,Adama Martha Memorial CHC,KON-KOC-ADAC,NaN,202201,January 2022,202201,NaN,F5DCeEkMZbP,Pentavalent 3rd dose,PENTA_DOSE3,NaN,40.0,08-08-2025
3,Sierra Leone,Western Area Rural District,Western Area Rural District Council,York Rural Zone,Adonkia CHP,OWlc4mW2hSs,Adonkia CHP,WAR-YOR-ADOP,NaN,202201,January 2022,202201,NaN,F5DCeEkMZbP,Pentavalent 3rd dose,PENTA_DOSE3,NaN,25.0,08-08-2025
4,Sierra Leone,Bo District,Bo City Council,Bo City,Aethel CHP,TYTDJOikSBa,Aethel CHP,BOO-BOC-ETHP,Structure built by private individual but 100%...,202201,January 2022,202201,NaN,F5DCeEkMZbP,Pentavalent 3rd dose,PENTA_DOSE3,NaN,16.0,08-08-2025